.about{
  font-weight: 900;
}

.about-content{
  padding-top: 180px; 
  padding-bottom: 20px;
  text-align: center;
}

#about-title{
  font-size: 30px;
}

.about-content *{
  padding: 10px;
}

.picture{
  margin: 20px auto 0;
}

.jane-picture{
  vertical-align: middle;
  width: 50%;
}

@media (max-width: 460px){
  
  .about-content{
    padding-top: 280px; 
    padding-bottom: 20px;
    text-align: center;
  }

  .picture{
    display: none;
  }

}