.contact{
  font-weight: 900;
}

.contact-content{
  margin: 180px auto 45px;
  max-width: 70%;
}

#contact-title{
  font-size: 30px;
}

.contact-content #contact, 
.contact-content .contact-title{
  padding: 10px 0;
}

.row{
  margin-top: 10px;
}

.footer{
  bottom: 0;
}

@media (max-width: 630px){

  .contact-content{
    padding-top: 20px; 
    padding-bottom: 20px;
  }

}


@media (max-width: 460px){
  
  .contact-content{
    padding-top: 100px; 
    padding-bottom: 20px;
  }

}