.music{
  font-weight: 900;
}

.music-content{
  margin: 180px auto 20px;
  max-width: 70%;
}

#music-title{
  font-size: 30px;
  padding-bottom: 10px;
  padding-right: 50px;
}

.video-description{
  padding: 20px;
} 

@media (max-width: 630px){

  #music-title{
    padding-top: 20px; 
    padding-bottom: 20px;
  }

}

@media (max-width: 800px){

  .video-container iframe {
    width: 100%;
    height: 240px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
  }
}

@media (max-width: 460px){

  .music-content{
    padding-top: 100px; 
    padding-bottom: 20px;
  }

}

@media (max-width: 400px){
  
  .video-container iframe{
    width: 250px;
    height: 250px;
  }

}

@media (max-width: 375px){
  
  .video-container{
    display: none;
  }

}